certs
certs-old

dist

/nginx/web/dist/
/nginx/web/.expo/
/nginx/web/assets/fonts/
/nginx/web/assets/images/
/nginx/web/expo-env.d.ts
/nginx/web/node_modules/

/webscraper/packets
/webscraper/pdf_packets
/webscraper/__pycache__